@import url('https://fonts.googleapis.com/css2?family=Jost&family=Lora&family=Playfair+Display:ital@0;1&family=Poppins&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    /* border-bottom: 2px solid #fff; */
    padding: 5px 60px;
    background-color: #ffffff;
    /* filter: blur(0.2); */
    box-shadow: -5px 19px 46px -11px rgba(0,0,0,0.8);
    outline: none;
    z-index: 100;
}
nav img{
    /* float: left; */
    width: 150px;
    height: 50px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 0px;
}
nav .nav-links{
    position: absolute;
    top: 80px;
    right: -20px;
    display: flex;
    gap: 8px;
    padding-top: -25px;
    padding-right: 50px;
    
}
nav .nav-links a{
    position: relative;
    top: -55px;
    text-decoration: none;
    font-size: 19px;
    color: #21967E;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;

}
nav .nav-links a:hover{
    background: #c3fae8;
}
nav .nav-links li{
    list-style: none;
}
ion-icon{
    font-size: 30px;
}
.nav-links li ul.dropdown li {
  position: relative;
  top: 50px;
  display: block;
  /* border-bottom: 1px dotted #000; */
  margin-top: 5px;
}
.nav-links li ul.dropdown {
  width: max-content;
  background: #c3fae8;
  position: absolute;
  top: 0px;
  z-index: 999;
  padding: 5px 10px;
  display: none;
}
.dropdown li a:hover {
  background: #a5e7d0;
}
.nav-links li:hover ul.dropdown {
  display: block;
}
.menu-btn {
    /* float: right; */
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    cursor: pointer;
    color: #000;
    z-index: 100;
  }
  /* .Cerfiticate{
    width: 100%;
    height: 500px;
    position: relative;
    top: 160px;
    /* background: #c3fae8; */
    /* border-bottom: 1px solid #21967E; 
    }*/
  
  body h2{ 
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 120%);
    /* transform: translate(-50%, 50%); */
    /* align-self: center; */
    width: max-content;
    padding: 2px 25px;
    border-radius: 25px;
    /* background-color: #c3fae8; */
    /* text-align: center; */
    position: relative;
    top: -130px;
    font-family: 'Jost', sans-serif;
    color: #21967E;
    font-size: 30px;
    background: transparent;
    border: 1px dotted #219678;
  }
  /* .Cerfiticate .certi-box-left{
    width: 650px;
    height: 280px;
    position: absolute;
    top: 35px;
    left: 100px;
    border: 1px solid #21967E;
    border-radius: 15px;
    z-index: 0;
    padding: 15px 5px;
  } */
  /* .Cerfiticate .certi-box-left img{
    width: 80px;
    position: absolute;
    top: -25px;
    left: -35px;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
  } */
  /* .Cerfiticate .certi-box-left h3{
    color:#21967E;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    left: 70px;
    top: 27px;
  }
  .Cerfiticate .certi-box-left p{
    color:#21967E;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    left: 10px;
    top: 45px;
  } */
  /* .Cerfiticate .cerft-img-left{
    position: absolute;
    top: 35px;
    right: 100px;
    width: 240px;
    height: 280px;
    background: red;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid #21967E;
  }
  .Cerfiticate .cerft-img-left img{
    width: 100%;
    height: 100%; 
  }*/
  /* .Cerfiticate .certi-box-right{
    width: 650px;
    height: 280px;
    position: absolute;
    top: 35px;
    right: 100px;
    border: 1px solid #21967E;
    border-radius: 15px;
    z-index: 0;
    padding: 15px 5px;
  }
  .Cerfiticate .certi-box-right img{
    width: 80px;
    position: absolute;
    top: -25px;
    right: -35px;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
  }
  .Cerfiticate .certi-box-right h3{
    width: max-content;
    color:#21967E;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    right: -15px;
    top: 20px;
  }
  .Cerfiticate .certi-box-right p{
    color:#21967E;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    left: 12px;
    top: 40px;
  }.Cerfiticate .cerft-img-right{
    position: absolute;
    top: 35px;
    left: 100px;
    width: 240px;
    height: 280px;
    background: red;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid #21967E;
  }
  .Cerfiticate .cerft-img-right img{
    width: 100%;
    height: 100%;
  } */

  .Cerfiticate-banner{
   width: 100%;
   height: 70vh;
   position: absolute;
   top: 80px;
  }
  .Cerfiticate-banner img{
    width: 100%;
    /* height: 100%; */
  }
  .Cerfiticate-banner p{
    width: 70%;
    text-align: center;
    color: #21967E;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cert-list{
    width: 85%;
    height: max-content;
    /* background: #c3fae8; */
    position: relative;
    top: 100px;
    left: 7%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    /* margin-left: -15px;
    margin-right: -15px; */
  border-radius: 15px;

  }
  /* .cert-list > div {
    font-size: 30px;
    padding: .5em;
    color: #ffffff; */
    /* background: #1c87c9; */
    /* text-align: center; */
    /* margin-left: 10px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
  }
  .cert-list div .frame{
    width: 85%;
    height: 90%;
    background: #000;
    border: 5px solid #219678;
    overflow: hidden;
  }
  .cert-list div .frame img{
    width: 100%;
    height: auto;
  } */
.cert-list .certi-box{
  position: relative;
  width: 220px;
  height: 280px;
  background: #a9d3ca;
  margin: 15px 25px;
  border-radius: 10px;
  border: 3px dotted #fff;
}
.cert-list .certi-box .frame{
  width: 160px;
  height: 226px;
  /* background: #ffffff;  */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cert-list .certi-box .frame img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px dotted #fff;
  cursor: pointer;
  transition: all 0.5s;
} 
.cert-list .certi-box .frame img:hover{
  transform: scale(0.9);
}
.cert-list .certi-box .frame p{
  position: relative;
  top: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.popup-image{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
  /* overflow: scroll; */
  display: none;
}
.popup-image span{
  position: absolute;
  top: 0; right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
}
.popup-image img{
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 420px;
  object-fit: cover;
}








  .to-top{
    /* background: #21967E; */
    position: fixed;
    bottom: 16px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    color: #21967E;
    border: 1px solid #219678;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
  }
  .to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }