@media (max-width: 820px) {
    .nav-links { 
      /* width: 350px; */
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
      position: relative;
      /* top: 80px; */
      background-color: #c3fae8;
      color: #21967E;
      height: calc(100vh - 80px); 
      /* height: 100vh;  */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 50px ;
      /* text-align: left; */
      font-size: 25px;
      transform: translateX(130%);
      transition: all 0.3s ease-out; 
      /* border: 2px solid #000; */
    } 
    .nav-links.active {
      transform: translateX(0);
    }
    .menu-btn {
      display: block;
    }
    .slide_content{
        position: relative;
        top: 20px;
        left: 45px;
    }
    .slide_content p{
        font-size: 10px;
    }
    .slide_content h1{
        font-size: 60px;
    }
    .slide_content a{
        padding: 3px 15px;
    }
    .about h2{
        position: absolute;
        top: 280px;
        left: 39%;
        color: #219678 ;
        font-size: 30px;
      }
    .about .about-contentt{
        position: relative;
        top: 100px;
        left: 94px;;
    }
  }