@import url('https://fonts.googleapis.com/css2?family=Jost&family=Lora&family=Playfair+Display:ital@0;1&family=Poppins&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*.container{
    width: 100%;
    height: 100vh;
     background-color: black; 
}*/
nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    padding: 5px 60px;
    /* background-color: #ffffff;    */
    /* box-shadow: -5px 19px 46px -11px rgba(0,0,0,0.8); */
    outline: none;
    z-index: 100;
}
nav img{
    width: 150px;
    height: 50px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 0px;
}
nav .nav-links{
    position: absolute;
    top: 80px;
    right: 20px;
    display: flex;
    gap: 8px;
    padding-top: -25px;
    padding-right: 50px;
}
nav .nav-links a{
    position: relative;
    top: -55px;
    text-decoration: none;
    font-size: 19px;
    color: #21967E;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
}
nav .nav-links a:hover{
    background: #c3fae8;
}
nav .nav-links li{
    list-style: none;
}
ion-icon{
    font-size: 30px;
}
.nav-links li ul.dropdown li {
    position: relative;
    top: 50px;
    display: block;
    margin-top: 5px;
}
.nav-links li ul.dropdown {
    width: max-content;
    background: #c3fae8;
    position: absolute;
    top: 0px;
    z-index: 999;
    padding: 5px 5px;
    display: none;
  }
.dropdown li a:hover {
    background: #a5e7d0;
  }
  .nav-links li:hover ul.dropdown {
    display: block;
  }
.menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    cursor: pointer;
    color: #000;
    z-index: 100;
  }
  /* jbhjhbhb */

  .socialsidefix{
    position: fixed;
    right: 0;
    /* bottom: 50px; */
    top: 50;
    width: 100px;
    height: 100px;
    background: #000;
  }
.banner_slider .slide{
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0)), url(Media/slide3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
}
.banner_slider .slide_two{
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(Media/Slide1.jpg);
}.banner_slider .slide_three{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.0)), url(Media/Slide2.jpg);
}
.slide_content{
    position: relative;
    top: 80px;
    left: 50px;
}
.slide_content p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #999;
    text-transform: uppercase;
}
.slide_content h1{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: #21967E;
}
.slide_content a{
    text-decoration: none;
    padding: 5px 20px;
    background: #21967E;
    position: relative;
    top: 25px;
    left: 0;
    color: #c3fae8;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.2s ease;
}
.slide_content a:hover{
    background: #c3fae8;
    color: #21967E;
    border: 1px solid #21967E;
}
.banner_slider.slick-slider{
    margin-bottom: 0;
}
.banner_slider .slick-dots{
    width: 100%;
    bottom: 4%;
}
.banner_slider .slick-dots li button::before{
    font-size: 12px;
    background: #21967E;
    border-radius: 50%;
}
.banner_slider .slick-dots li{
    margin: 0 3px;
    color: #c3fae8;
}
.banner_slider .slick-dots li.slick-active button::before{
    opacity: 1;
    background: #21967E;
}
.banner_slider .slick-arrow{
    position: absolute;
    top: 50%;
    display: block;
    z-index: 9;
    transform: translate(0, -50%);
    pointer-events: none;
    opacity: 0;
}
.banner_slider .slick-arrow.prev{
    left: 0;
}
.banner_slider .slick-arrow.next{
    right: 0;
}
.banner_slider .slick-arrow span{
    color: #21967E;
    font-size: 50px;
    padding: 8px;
}
.slide_two .slide_content{
    position: relative;
    top: 0;
    left: 50px;
    width: 60%;
}
.slide_two .slide_content h1{
    position: relative;
    top: 80px;
    font-size: 40px;
    color: #21967E;
    background: #dfdbdb;
    width: max-content;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
}
.slide_two .slide_content h4{
    font-size: 18px;
    position: relative;
    top: 90px;
    color: #777;
    font-weight: 600;
    text-transform: capitalize;
}
.slide_two .slide_content p{
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    top: 120px;
    color: #21967E;
}
.wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    z-index: 999;
    display: none;
}
.form{
    width: 380px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 40%;
    color: #21967E;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    border: 2px double #21967E;
    padding: 15px 30px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6),
                0 10px 15px rgba(0,0,0,.6);    
}
.form form{
    display: flex;
    flex-direction: column;
}
.form form span{
    position: absolute;
    top: -50px; right: -50px;
    font-size: 40px;
    font-weight: bolder;
    color: #21967E;
    cursor: pointer;
}
.form form h2{
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 0;
    font-family: 'Jost', sans-serif;
}
.form form .userbox{
    position: relative;
}
.form form input{
    margin-top: 30px;
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    /* background: #f5f5f5; */
    color: #21967E;
    border-bottom: 1px solid #21967E;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}
.form form label{
    position: absolute;
    top: 30px;
    left: 0px;
    pointer-events: none;
    padding: 0 2px;
    transition: 0.5s;
    /* padding: 0 5px; */
    font-size: 18px;
    text-transform: uppercase;
}
.form form .userbox input:focus ~ label,
.form form .userbox input:valid ~ label{
    top: 10px;
    left: 0;
    font-size: 16px;
}
.form form button{
    width: 100%;
    height: 35px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #21967E;
    color: #c3fae8;
    transition: 0.5s ;
    margin-top: 40px;
    font-size: 16px;
    /* margin-left: 40px; */
}
.form form button:hover{
    background: #a5e7d0;
    color: #21967E;border: 1px double #21967E;
}
#loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(#a5e7d0, #21967E);
    z-index: 999;
}
#loader .box{
    width: fit-content;
    margin: 20% auto 0;
    padding: 2px 25px;
    font-size: 50px;
    color: #a5e7d0;
    overflow: hidden;
    backdrop-filter: blur(15px);
}
#loader .box span{
    font-family: 'Jost', sans-serif;
    display: inline-block;
    padding: 2px;
    transform: translateY(70px);
    animation: moveup 2.5s linear infinite;
}
@keyframes moveup {
    0%{
        transform: translateY(70px);
    }
    20%{
        transform: translateY(0px);
    }
   100%{
        transform: translateY(0px);
    }
}

#loader .box span:nth-child(2){
    animation-delay: 0.2s;
}
#loader .box span:nth-child(3){
    animation-delay: 0.3s;
}
#loader .box span:nth-child(4){
    animation-delay: 0.3s;
}
#loader .box span:nth-child(5){
    animation-delay: 0.4s;
}
#loader .box span:nth-child(6){
    animation-delay: 0.5s;
}
#loader .box span:nth-child(7){
    animation-delay: 0.6s;
}
#loader .box span:nth-child(8){
    animation-delay: 0.7s;
}
#loader .box span:nth-child(9){
    animation-delay: 0.8s;
}
#loader .box span:nth-child(10){
    animation-delay: 0.9s;
}
